<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-xs-12">
        <h1 class="d-none d-sm-block justify-content-center font-weight-light text-lg-left mt-4 mb-1">Mis estanterías
            <a href="/bookshelfs/add">
                <button class="btn btn-sm btn-sm btn-pill btn-success pull-right mt-1" type="button">Añadir nueva</button>
            </a>
        </h1>
        <h3 class="d-block d-sm-none justify-content-center font-weight-light text-lg-left mt-4 mb-1">Mis estanterías
            <a href="/bookshelfs/add">
                <button class="btn btn-sm btn-sm btn-pill btn-success pull-right mt-1" type="button"><small>Añadir nueva</small></button>
            </a>
        </h3>
        <hr>
        <table class="table table-striped">
            <tbody>
                {{{bookshelfs}}}
            </tbody>
        </table>
        <h2 class="d-none d-sm-block font-weight-light text-center text-lg-left mt-4 mb-0">Recuerda...</h2>
        <h3 class="d-block d-sm-none font-weight-light text-center text-lg-left mt-4 mb-0">Recuerda...</h3>
        <hr>
    
        <p>
            Puedes usar las estanterías para ordenar tus libros, crear listas de lectura, catalogarlos, etc.
        </p>
        <p>
            Próximamente podrás publicar tus listas de lecturas para que otros usuarios las vean y compartirlas.
        </p>
    </div>
</div>