<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-xs-10 offset-xs-1">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
            <img style="margin:0px;padding:0px 6px 6px 0px" src="/swr/resize:w(32)/-/bookshelfs/imgs/bookshelf.png">Estantería '{{bookshelfname}}'
        </h1>
        <hr>
        <p class="text-center float-right">
            <a href='/bookshelfs/bookshelfslist'><button class="btn btn-sm btn-pill btn-success">Volver a
                    estanterías</button></a>
        </p>
        <p>
            <table class="table table-responsive-sm table-striped">
                <tbody>
                    {{{bookrows}}}
                </tbody>
            </table>
        </p>

        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Recuerda...</h2>
            <hr>
        </p>
        <p>
            Puedes usar las estanterías para tener tus libros ordenados y catalogados por preferencia, interés, etc. y crear así listas de libros.
        </p>
    </div>
</div>