
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-10 offset-xs-1">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">No hay libros en esta estantería</h1>
        <hr>
        <p>Puedes añadir libros a tus estanterías desde la vista de cualquier libro.</p>
        <p class="text-center">
            <a href='/bookshelfs/bookshelfslist'><button class="btn btn-sm btn-pill btn-success" type="button">Volver a estanterías</button></a>
        </p>
    </div>
</div>