<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-10 offset-xs-1">
        <div class="row  mt-4 mb-0">
            <div class="col articletitle">
                {{title}} 
                <span class="pull-right">
                    {{{article-view-options-block}}}
                    {{{article-view-externallink-block}}}
                </span>
            </div>
        </div>
        <p class="articlesubtitle font-weight-light text-center mt-4 mb-0">
            {{subtitle}}
        </p>
        
        {{{share-block}}}
        
        <p class="text-right">
            <span class="writtenby">{{date}} - Escrito por </span><i><a class="articleauthor" href="{{authorlink}}">{{authorfullname}}</a></i>
            <hr>
        </p>        
        <div id="articlecontent">
            {{{content}}}
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-10 offset-xs-1 text-right mb-2">
        <a href="{{authorlink}}"><img class="img-fluid img-circle" src="{{authoravatarlink}}"></a>
        <span class="writtenby">&nbsp;&nbsp;Escrito por </span><i><a class="articleauthor" href="{{authorlink}}">{{authorfullname}}</a></i>
    </div>
</div>

{{{actionsonarticleblock}}}