<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-10 offset-xs-1">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">BLOG</h1>
        <hr>
        <div class="row">
            <div class="col">
                <span class="float-right">{{{pager}}}</span>
            </div>
        </div>
        <p>
            {{{articles}}}
        </p>
        <div class="row">
            <div class="col">
                <span class="float-right">{{{pager}}}</span>
            </div>
        </div>
    </div>
</div>