<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Todos los artículos</h1>

<hr class="mt-2 mb-4">

<div class="row mt-4">
    <div class="col-12">
        <span class="float-right">{{{pager}}}</span>
    </div>
</div>

<div class="col-12">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <table class="table table-responsive-sm table-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>User</th>
                        <th>Tipo</th>
                        <th>Publicado</th>
                        <th>Creación</th>
                    </tr>
                </thead>
                <tbody>
                    {{{users}}}
                </tbody>                
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <span class="float-right">{{{pager}}}</span>
    </div>
</div>